<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zy.dsdt">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".net.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Main2UserActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.Main2AdminActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.Main2TeacherActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.QuestionActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.MyGradeActivity" />
        <activity android:name=".activity.ShowGradeActivity" />
        <activity android:name=".activity.WrongQuestionActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity
            android:name=".activity.GuideActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>